.slider{
    width: 90%;
    height: 250px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.track{
    display: flex;
    width: calc(250px + 18);
    animation: scroll 40s linear infinite;
}
.track:hover{
    animation-play-state: paused;
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}
img{
    width: 100%;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(250px + 9));
    }
}