.user_infos{
    padding-right: 0em;
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.user_infos .user img{
    width: 100%;
}
.content_user{
    width: 0;
    height: 0;
    position: absolute;
    top: 6.7em;
    right: 1.7em;
    z-index: 99999;
    background: #ffffff;
    padding: 0em;
    border-radius: .1em;
    transition: all .3s;
    overflow: hidden;
}
.content_user.active{
    width: 300px;
    height: auto;
    position: absolute;
    top: 7em;
    right: 2em;
    z-index: 99999;
    background: #ffffff;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid #e5e5e5;
}